/* 
    FireFox reStock Theme

    Smaller Tabs and cool animations with the stock Firefox design in mind
    Focussed on just showing what you need, when you need it.
    
    Features:

    Way smaller Tabs
    Clean navigation bar
    smooth transitions
*/





:root {
    /* Set Widths */
    --tab-mw: 18px;
    --tab-pinned-w: 35px;
    /* border of icons and stuff */
    --toolbarbutton-border-radius: 3px !important;
    
    --bezier-exp-in: cubic-bezier(1,0,1,0);
    --bezier-exp-in-soft: cubic-bezier(1,0,.9,.9);
    --bezier-exp-out: cubic-bezier(0,1,0,1);
    --bezier-exp-out-soft: cubic-bezier(.1,.1,0,1);
}


/* ------------------------------------------------
                    TABS
-------------------------------------------------- */

/* Allow for container queries */
.tabbrowser-tab:not([pinned]) {
    container-type: inline-size;
}

/* Reduce Space right/left from tab stack */
.titlebar-spacer {
    width: 1.5em !important;
}

/* Reduce Minimum Tab Width */
.tabbrowser-tab:not([pinned]) {
    min-width: var(--tab-mw) !important;
}
/* .tabbrowser-tab[pinned] {
    width: var(--tab-pinned-w) !important;
} */
.tabbrowser-tab[selected]:not([pinned]) {
    /* min-width: calc(var(--tab-mw) * 3) !important; */
}

/* Reduce Tab Gap */
.tabbrowser-tab:not([pinned]) {
    padding: 0px !important;
}
.tabbrowser-tab:not([pinned])[selected] {
    z-index: 1;
}

/* Tab Background */
.tabbrowser-tab .tab-background {
    margin: 3px 0px 3px 0px !important;
    padding: 0px !important;

    background-color: rgba(255, 255, 255, 0) !important;
    box-shadow: 0px 0px 0px gray;

    transition: background-color 0.2s, box-shadow 0.2s, margin 0.2s, width 0.2s !important;
}

/* Tab Background of selected or active */
.tabbrowser-tab:hover .tab-background,
.tabbrowser-tab[selected] .tab-background {
    background-color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0px 0px 5px lightgray;
}

/* Tab Close Button */
.tabbrowser-tab .tab-close-button {
    display: block;
    
    /* Resize and change position */
    width: 0px !important;
    min-width: 0px; 
    height: auto !important;
    padding: 0px !important;
    margin: auto !important;
    
    /* Swirl in on hover */
    transform: rotate(-90deg);
    transition: 
        transform 0.3s var(--bezier-exp-out-soft), 
        width 0.3s var(--bezier-exp-out-soft), 
        padding 0.3s var(--bezier-exp-out-soft);
}
.tabbrowser-tab:hover .tab-close-button {
    width: 22px !important;
    padding: 4.5px !important;
    transform: rotate(0);
}
/* Prevent Tab close icon from becoming too small in some situations */
.tabbrowser-tab .tab-icon-stack {
    min-width: 0px; 
}

/* Prevent Text disappearing from Tabs with no favicon when they get small */
.tabbrowser-tab:not(:has(.tab-icon-stack > *[src])) .tab-content {
    padding: 0px calc(min(max(15%, 2px), 8px)) !important;
}

/* Tabs too small to fit text */
@container (max-width: 45px) {
    /* Has favicon */
    .tabbrowser-tab:has(.tab-icon-stack > *[src]) .tab-content {
        padding: 0px !important;
    }
    .tabbrowser-tab:has(.tab-icon-stack > *[src]) .tab-label-container {
        display: none;
    }
    .tabbrowser-tab:has(.tab-icon-stack > *[src]) .tab-icon-stack {
        flex-grow: 1;
    }
    .tabbrowser-tab:has(.tab-icon-stack > *[src]) .tab-icon-stack > * {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    /* Doesn't have favicon */
    .tabbrowser-tab:not(:has(.tab-icon-stack > *[src])) .tab-icon-stack {
        display: none;
    }
}

/* Tabs too small to fit more than one icon */
@container (max-width: 50px) {
    /* Close Button is visible */
    .tabbrowser-tab[selected]:hover .tab-icon-stack,
    .tabbrowser-tab[selected]:hover .tab-label-container {
        display: none;
    }
    .tabbrowser-tab[selected]:hover .tab-content {
        padding: 0px !important;
    }
    
    /* Close button is not visible */
    .tabbrowser-tab:not([selected]) .tab-close-button {
        display: none;   
    }
    .tabbrowser-tab .tab-close-button {
        transition: none;   
    }
    /* Compensate the size change of the close button to keep the cross the same size */
    .tabbrowser-tab:hover .tab-close-button {
        padding: calc(min(4.5px - (22px - 100%) / 2, 4.5px)) !important;
    }
}

/* ------------------------------------------------
                   MENUS
-------------------------------------------------- */

menuseparator,
toolbarseparator {
    /* Separators in Menus */
    height: 0px !important;
}

/* Items in all menus */
.subviewbutton-nav,
.menu-iconic,
.menuitem-iconic,
.subviewbutton,
.protections-popup-category,
.protections-popup-footer-button,
.identity-popup-expander,
#identity-popup-clear-sitedata-button,
#identity-popup-more-info {
    background-color: none !important;
    border-radius: var(--toolbarbutton-border-radius) !important;
    padding: 0px 2px;

    transition: background-color 0.35s;
}

.menu-iconic:hover,
.menuitem-iconic:hover,
.subviewbutton:hover,
.protections-popup-category:hover,
.protections-popup-footer-button:hover,
.identity-popup-expander:hover {
    /* Hovering over menu items */
}

/* Footer Elements inside of menus */
.panel-subview-footer,
#identity-popup-clear-sitedata-button,
#identity-popup-more-info,
#protections-popup-cookiesView-settings-button {
    margin: 0px !important;
    border-radius: 0px !important;
    border: none !important;
}


.panel-arrow {
    display: none !important;
}

.panel-banner-item {
    /* Update Panel in main menu */
    background: none !important;
}

#appMenu-zoomReset-button {
    /* Zoom button in main menu */
    border: none !important;
}

panelview {
    /* Background of most menus */
}




/* ------------------------------------------------
                    NAV BAR
-------------------------------------------------- */

/* 
#nav-bar                - Nav Bar
#nav-bar toolbarbutton  - Nav Bar Buttons
*/


/* smooth transitions when hovering over icons */
.toolbarbutton-icon,
.toolbarbutton-badge-stack {
    transition: background-color 0.3s !important;
}

/* Rotate the Custom Menu expander by 90 degrees */
#nav-bar-overflow-button .toolbarbutton-icon {
    transform: rotate(90deg);
}

/* Buttons on Navbar move on click */
.toolbarbutton-1:active {
    transform: translateY(0.1em);
}


/* ------------------------------------------------
                    URL BAR
-------------------------------------------------- */

/* 
#urlbar                 - URL Bar including popup
#urlbar-input-container - URL Bar
*/

/* Icons in the Adress bar only show when hovering */
#page-action-buttons > hbox {
    transition: 
        opacity 0.5s, 
        width 0.5s, 
        padding-left 0.5s, 
        padding-right 0.5s 
        !important;
}
#urlbar-input-container:not(:hover) #page-action-buttons > hbox {
    opacity: 0;
    width: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
#page-action-buttons > hbox > .urlbar-icon {
    transform: rotate(45deg);
    transition: transform 0.5s !important;
}
#urlbar-input-container:hover #page-action-buttons > hbox > .urlbar-icon {
    transform: rotate(0);
}


/* Box around the tracking protection icon */
#tracking-protection-icon-box {}

/* List with detailed tracking info */
#tracking-protection-container {}